

body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(27, 26, 26), rgb(36, 25, 62));
    
}

#topo{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;  
    column-gap: 20px;
}

#topo span{
    display: grid;
    grid-auto-flow: column;
    align-content: space-between;
}

a3{
    text-transform: uppercase;
}

a1{
    color: #9F7FDBCC;
}

#corpo{
    margin: 100px;
}

.form-control{
    height: 61px;
    width: 408px;
    left: 41px;
    top: 295px;
    border-radius: 10px;
    background-color: #9F7FDB;
    

}

#cadastrar{
height: 84px;
width: 249px;
left: 993px;
top: 1470px;
border-radius: 8px;
padding: 18px 28px 18px 28px;
background-color:#7834F3;
}

#cadastrar:hover{
    background-color:#926add;  
}

#info{
    height: 84px;
    width: 249px;
    left: 993px;
    top: 1470px;
    border-radius: 8px;
    padding: 18px 28px 18px 28px;
    background-color: #9F7FDB;
}

#info:hover{
    background-color:#cab4f3;  
}

#img2{
    position: relative;
    left: 600px;
    bottom: 90px;
}
